:root {
  --xxl-large-heading: 3.8rem;
  --xxl-small-heading: 3rem;
  --xxl-message: 2rem;
  --xl-large-heading: 2.9rem;
  --xl-small-heading: 2.2rem;
  --xl-message: 1.5rem;
  --l-large-heading: 2rem;
  --l-small-heading: 1.3rem;
  --l-message: 1rem;
  --s-large-heading: 1.6rem;
  --s-small-heading: 0.95rem;
  --s-message: 0.9rem;
  --xs-large-heading: 1.5rem;
  --xs-small-heading: 0.9rem;
  --xs-message: 0.7rem;
  --xxs-large-heading: 1..4rem;
  --xxs-small-heading: 0.85rem;
  --xxs-message: 0.6rem;
}

/* SKILLS SECTION RESPONSIVENESS */

@media(max-width: 804px) {
  .cards {
    display: grid;
    grid-template-columns: 1fr;
    align-content: center;
    justify-items: center;
  }

  .about-card, .more {
    width: 80vw;
  }

  .skills-wrap {
    margin-bottom: 200px;
  }
}

 


  @media(max-width: 1920px) {
    .heading {
      font-size: var(--xxl-large-heading);
    }
    .heading-message {
      font-size: var(--xl-small-heading);
    }
    .message {
      font-size: var(--l-message);
    }
  }

  @media(max-width: 1700px) {
    .heading {
      font-size: var(--xl-large-heading);
    }
    .heading-message {
      font-size: var(--l-small-heading);
    }
    .message {
      font-size: var(--s-message);
    }
    .about-icons {
      font-size: 32px;
    }

    .skills {
      display: grid;
      grid-template-columns: 1fr 1fr;
    }
  }

  @media(max-width: 1130px) {
    .heading {
      font-size: var(--xl-large-heading);
    }
    .heading-message {
      font-size: var(--l-small-heading);
    }
    .message {
      font-size: var(--s-message);
    }

    .skills {
      display: grid;
      grid-template-columns: 1fr;
    }
    .about-icons {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      grid-gap: 15px 50px;
    }

  }

  @media(max-width: 970px) {
    .footer {
      display: grid;
      grid-template-columns: 1fr;
    }
  }


/* SKILLS PROGRESS MEDIA */

@media(max-width: 505px) {
  .progress-bar {
    width: 80vw;
  }
}

/* @media(max-width: 300px) {
  .progress-bar {
    width: 200px;
  }
} */

@media(max-width: 455px) {
  .web-developer {
    display: flex;
    flex-direction: column;
  }

  .profile-pic {
    width: 60vw;
  }
}


@media(max-width: 360px) {
  
.navigation-footer ul {
  display: grid;
  grid-template-columns: 1fr;
  align-content: center;
  justify-items: center;
}

.newsletter {
  display: flex;
  align-items: center;
  justify-content: center;
}

.newsletter input {
  width: 280px;
  font-size: var(--l-message);
}

.newsletter input:focus {
  width: 310px;
}
}

@media(max-width: 365px) {
  .skills-wrap {
    position:relative;
    margin-top: -200px;
  }
  footer {
    position: relative;
  }

  .header-section {
    display: flex;
    flex-direction: column;
  }

  .newsletter input {
    width: 200px;

  }

  .newsletter input:focus {
    width: 220px;
  }

  footer {
    position: absolute;
    top: 900px;
  }
}

@media(max-width: 265px) {
  .about-icons {
    grid-template-columns: 1fr 1fr;
  }
}

@media(max-width: 250px) {

  .web-developer {
    font-size: 18px;
  }
}

@media(max-width: 210px) {
  /* .progress-bar {
    width: 150px;
  } */

  .web-developer {
    font-size: 16px;
  }
}


