@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&family=Open+Sans&family=Zen+Dots&display=swap');

html,
body {
  position: relative;
  height: 100%;
}

body {
  background: #eee;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #000;
  margin: 0;
  padding: 0;
}

body {
  background: #fff;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #000;
  margin: 0;
  padding: 0;
}

html,
body {
  position: relative;
  height: 100%;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
}

img {
  width: 150px;
}

.swiper {
  width: 320px;
  height: 410px;
}

.swiper-slide {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 18px;
  font-size: 22px;
  font-weight: bold;
  color: #fff;
  gap: 20px;
  overflow: visible;
}

.swiper-slide-active {
  background-color: #eee;
  opacity: 1;
}

.message {
  color: #333;
}

.project-heading {
  font-family: 'Zen Dots', sans-serif;
  color: #333;
  text-decoration: none;
  font-size: 24px;
  text-align: center;
}

.swipe-heading {
  font-family: 'Zen Dots', sans-serif;
  color: #333;
  font-size: 32px;
  text-align: center;
  margin-top: 20px;
}
